In [1]:
import pandas as pd

In [2]:
people = {
    'first' : ['Shah', 'Shah', 'Kawser'],
    'last' : ['Newaz', 'Waliullah', 'Rana'],
    'email' : ['demo1@mail.com', 'demo2@mail.com', 'demo3@mail.com']
}

In [3]:
df = pd.DataFrame(people)

In [4]:
df

    first       last           email
0    Shah      Newaz  demo1@mail.com
1    Shah  Waliullah  demo2@mail.com
2  Kawser       Rana  demo3@mail.com

In [5]:
df['email']

0    demo1@mail.com
1    demo2@mail.com
2    demo3@mail.com
Name: email, dtype: object

In [11]:
df.set_index('email', inplace=True)

In [12]:
df

                 first       last
email
demo1@mail.com    Shah      Newaz
demo2@mail.com    Shah  Waliullah
demo3@mail.com  Kawser       Rana

In [13]:
df.index

Index(['demo1@mail.com', 'demo2@mail.com', 'demo3@mail.com'], dtype='object', name='email')

In [16]:
df.loc['demo2@mail.com', 'last']

'Waliullah'

In [19]:
df.loc[0]

KeyError: 0

In [20]:
df.iloc[0]

first     Shah
last     Newaz
Name: demo1@mail.com, dtype: object

In [22]:
df.reset_index(inplace=True)
df

   index           email   first       last
0      0  demo1@mail.com    Shah      Newaz
1      1  demo2@mail.com    Shah  Waliullah
2      2  demo3@mail.com  Kawser       Rana