In [10]:
import pandas as pd

In [7]:
people = {
    'first' : ['Shah', 'Shah', 'Kawser'],
    'last' : ['Newaz', 'Waliullah', 'Rana'],
    'email' : ['demo1@mail.com', 'demo2@mail.com', 'demo3@mail.com']
}

In [39]:
people['email']

['demo1@mail.com', 'demo2@mail.com', 'demo3@mail.com']

In [14]:
df = pd.DataFrame(people)

In [15]:
df

    first       last           email
0    Shah      Newaz  demo1@mail.com
1    Shah  Waliullah  demo2@mail.com
2  Kawser       Rana  demo3@mail.com

In [26]:
df.columns

Index(['first', 'last', 'email'], dtype='object')

In [27]:
 df.iloc[0]

first              Shah
last              Newaz
email    demo1@mail.com
Name: 0, dtype: object

In [28]:
df.iloc[[0, 1]]

  first       last           email
0  Shah      Newaz  demo1@mail.com
1  Shah  Waliullah  demo2@mail.com

In [29]:
df.iloc[[0, 1], 2]

0    demo1@mail.com
1    demo2@mail.com
Name: email, dtype: object

In [36]:
df.iloc[[0, 1], [1, 2]]

        last           email
0      Newaz  demo1@mail.com
1  Waliullah  demo2@mail.com

In [30]:
df.loc[0]

first              Shah
last              Newaz
email    demo1@mail.com
Name: 0, dtype: object

In [31]:
df.loc[[1, 0]]

  first       last           email
1  Shah  Waliullah  demo2@mail.com
0  Shah      Newaz  demo1@mail.com

In [35]:
df.loc[[0, 1], 'email']

0    demo1@mail.com
1    demo2@mail.com
Name: email, dtype: object

In [38]:
df.loc[[0, 1], ['email', 'last']]

            email       last
0  demo1@mail.com      Newaz
1  demo2@mail.com  Waliullah